**/__pycache__/
**/.cache/
.idea/
compose.yaml
compose.yml
docker-compose.yaml
docker-compose.yml
/etc/nginx/certs/*
!/etc/nginx/certs/.gitkeep
/etc/mkcert/root_certs/*
!/etc/mkcert/root_certs/.gitkeep
/etc/nginx/dhparam/*
!/etc/nginx/dhparam/.gitkeep

/persistent/elasticsearch5/*
!/persistent/elasticsearch5/.gitkeep
/persistent/elasticsearch6/*
!/persistent/elasticsearch6/.gitkeep
/persistent/elasticsearch7/*
!/persistent/elasticsearch7/.gitkeep
/persistent/opensearch2/*
!/persistent/opensearch2/.gitkeep

/volumes/elasticsearch5/*
!/volumes/elasticsearch5/.gitkeep
/volumes/elasticsearch6/*
!/volumes/elasticsearch6/.gitkeep
/volumes/elasticsearch7/*
!/volumes/elasticsearch7/.gitkeep
/volumes/opensearch2/*
!/volumes/opensearch2/.gitkeep